<div class="overall">
    <h1 class="h">Customer Update Form</h1>
<div class="container">

<!--- <form [formGroup]="customerForm"> 
    <div>
      <div class="form-group">
        <label for="customerId">Customer ID</label>
        <input type="number" disable class="form-control" id="customerId" placeholder="customerId" formControlName="customerId">
    </div>
    </div>
  </form>  -->

  <div class="form-group col-md-12">
    <button class="btn btn-danger btn-block btn-lg" disabled>Customer ID: {{existingCustomerId}}</button>
 </div>
  
       

    <form [formGroup]="customerForm" (ngSubmit)="updateBankManagerReport()">

        <div>
            <div class="form-group">
              <label for="doReportBmResponseStatus">Bank Manager Response Status</label>
              <input type="text" class="form-control" id="doReportBmResponseStatus" placeholder="DO Report Bm Response Status" formControlName="doReportBmResponseStatus">
            </div>  
                <div class="form-group">
                  <label for="doReportBmResponse">Bank Manager Response</label>
                  <input type="text" class="form-control" id="doReportBmResponse" placeholder="do Report Bm Response" formControlName="doReportBmResponse">
              </div>
            
              <button type="submit" class="btn btn-primary">Update</button> &nbsp;
              
             
        </div>
    </form>
</div>
</div>
<router-outlet></router-outlet>


