

    <!DOCTYPE html>
    <html>
    
    <head>
        <title>Contact Us page</title>
        <link rel="stylesheet"
            href="styles.css">
    </head>
    
    <body>
    
        <nav class="navbar background">
            
            <!-- Creating the list of
                items -->
            <!-- <ul class="nav-list">
                <li><a href="#Home">Home</a></li>
                <li><a href="#Topics">Topics</a></li>
                <li><a href="#ContactUs">Contact Us</a></li>
                <li><a href="#AboutUs">About Us</a></li>
            </ul>
             -->
            <!-- Create the search bar
                and the button-->
            <!-- <div class="rightNav">
                <input type="text" name="search" id="search">
                <button class="btn btn-sm">Search</button>
            </div> -->
        </nav>
        <section class="background firstsection" background img="\assets\img\agri1.jpg">
            <div class="box-main">
                <div class="firstSmall">	
                    <p class="text-big">Contact Us</p>
    
                    <p class="text-small">
                        You can Contact Us if you face any problem
              
                    </p>
    
                    <br>
                    <p class="center"
                    style="text-decoration:none;
                            color:white;">
                        Click on the below options to Contact us
                    </p>
            
                </div>
            </div>
        </section>
        <section class="service">
            
            <!-- Heading-->
            <h1 class="h-primary center"
                style="margin-top:30px;">
                Options to Contact
            </h1>
            <div id="service">
                <div class="box">
                    <!-- Form -->
                    <img src=
    "\assets\img\enquiry.jpeg"
                        alt= "color_image">
                    <br>
                    
                    <!-- Displaying text at
                        the center of the box-->
                    <p class="center">
                        People can fill up the Enquiryform For more Information
                        <li class="list-item"><i class="fa fa-2x "><span class="contact-text"><a href="" title="fillform">Fill EnquiryForm</a></span></i></li>
                    </p>
            
                </div>
                <div class="box">
                    
                    <!-- Email -->
                    <img src=
    "\assets\img\mail.jpeg"
                        alt= "color_image">
                    <br>
                    
                        <!-- Displaying text at
                        the center of the box-->
                    <p class="center">
                        Use this Email to send us about the problem faced
              <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">hindustanfinances@gmail.com</a></span></i></li>
                    </p>
    
                </div>
                <div class="box">
                    <img src=
    "\assets\img\call.jpeg"
                        alt= "color_image">
                    <br>
                    
                    <!-- Displaying text at
                        the center of the box-->
                    <p class="center">
                         Plz Call Toll Free Number
              <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">+1800 200 300 400</a></span></i></li>
                    </p>
           
                </div>
          
            </div>
       
        </section>
        <footer class="background">
            <p class="text-footer">
                Copyright @-All rights are reserved
            </p>
        <p class="text-footer">
       
          <button class="btn homepage" onclick="history.back()">HomePage</button>
      
        </p>   
        </footer>
        
    </body>
    
    </html>
    