<!-- <p>view-details works!</p> -->

    <!-- <small><img [src]="imageSrc1" height="50"></small> -->
    <!-- Basic Information Form -->

    <div class="form-group col-md-12">
        <button class="btn btn-danger btn-block btn-lg" disabled>Customer ID: {{existingCustomerId}}</button>
     </div>
    
    <div *ngIf="step==1">
        <h6 class="text-center">Basic information</h6><br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputFirstName">Name</label>
                <input type="text" class="form-control" name="customerfirstname" id="inputFirstName" value="{{customer.customerName}}">
            </div>
            
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div>
                    <label for="inputcustomerdob">Date Of Birth</label>
                    <!-- use type=date -->use type=date
                    <input type="text" class="form-control" name="customerdob" id="inputcustomerdob" value="{{customer.customerDateOfBirth}}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label for="inputcustomerdob">Age</label>
                    <!-- Logic for age calculation from dob -->
                    <input type="number" class="form-control" name="customerdob" id="inputcustomerdob" value="{{customer.customerAge}}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-6">
                    <label for="inputGender">Gender</label>
                </div>
                <div class="col-md-6">
                    <input type="radio" name="customerGender" value="{{customer.customerGender}}">
                    Male &nbsp;
                </div>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div>
                    <label for="inputcustomermobilenumber">Phone Number 1</label>
                    <input type="number" class="form-control" name="customermobilenumber"
                        id="inputcustomermobilenumber" value="{{customer.customerMobileNumber}}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label for="inputcustomermobilenumber">Phone Number 2</label>
                    <input type="number" class="form-control" name="customermobilenumber"
                        id="inputcustomermobilenumber" value="{{customer.customerMobileNumber2}}" >
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputcustomeremail">Email Id</label>
                <input type="email" class="form-control" name="customeremail" id="inputcustomeremail"
                value="{{customer.customerEmail}}">
            </div>

        </div>




        <div class="form-row">
            <div class="form-group col-md-6">
                <label style="text-align: center;">Address Details</label>
                <div>
                    <label for="houseNumber">House Number</label>
                    <input type="number" class="form-control" name="houseNumber"
                        id="houseNumber" value="{{customer.customerAddress.houseNumber}}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label for="streetName">Street Name</label>
                    <input type="text" class="form-control" name="streetName"
                        id="streetName" value="{{customer.customerAddress.houseNumber}}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label for="areaName">Area Name</label>
                    <input type="text" class="form-control" name="areaName"
                        id="areaName" value="{{customer.customerAddress.areaName}}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label for="cityName">City Name</label>
                    <input type="text" class="form-control" name="cityName"
                        id="cityName" value="{{customer.customerAddress.cityName}}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label for="district">District</label>
                    <input type="text" class="form-control" name="district"
                        id="district" value="{{customer.customerAddress.district}}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label for="state">state</label>
                    <input type="text" class="form-control" name="state"
                        id="state" value="{{customer.customerAddress.state}}">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label for="pincode">Pincode</label>
                    <input type="number" class="form-control" name="pincode"
                        id="pincode" value="{{customer.customerAddress.pincode}}">
                </div>
            </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <div>
                <label for="customerAmountPaidForHome">Amount Paid for Home</label>
                <input type="number" class="form-control" name="customerAmountPaidForHome"
                    id="customerAmountPaidForHome" value="{{customer.customerAmountPaidForHome}}">
            </div>
        </div>
        <div class="form-group col-md-6">
            <div>
                <label for="customerTotalLoanRequired">Total Loan Required</label>
                <input type="number" class="form-control" name="customerTotalLoanRequired"
                    id="customerTotalLoanRequired" value="{{customer.customerTotalLoanRequired}}">
            </div>
        </div>
    </div>

        
    </div>




    
    <div *ngIf="step==2">
        <div>
            <!-- <div>
                Please note down your customer ID for future use: {{generatedCustomerId}} <br>
                
                
            </div> -->
            
            <h6 class="text-center">Educational, Family, Professional Information</h6><br>
            <div class="form-row">
                
                <div class="form-group">
                    <h6 class="text-center">Educational Information</h6>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="eduInfo">Education Type</label>
                            <input type="text" class="form-control" name="educationType" id="eduInfo"
                               >
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-row">
                
                <div class="form-group" >
                    <h6 class="text-center">Family Information</h6><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fatherName">Father Name</label>
                            <input type="text" class="form-control" name="fatherName" id="fatherName"
                                >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="motherName">Mother Name</label>
                            <input type="text" class="form-control" name="motherName" id="motherName"
                                >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="spouseName">spouse Name</label>
                            <input type="text" class="form-control" name="spouseName" id="spouseName"
                              >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="noOfFamilyMembers">numberOfFamilyMembers</label>
                            <input type="number" class="form-control" name="noOfFamilyMembers" id="noOfFamilyMembers"
                                >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="noOfChildren">numberOfChildren</label>
                            <input type="number" class="form-control" name="noOfChildren" id="noOfChildren"
                                >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="maritalStatus">maritalStatus</label>
                            <input type="text" class="form-control" name="maritalStatus" id="maritalStatus"
                                >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="familyIncome">Family Income</label>
                            <input type="number" class="form-control" name="familyIncome" id="familyIncome"
                                >
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                
                <div class="form-group" >
                    <h6 class="text-center">Profession</h6><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="profInfo">Profession Type</label>
                            <input type="text" class="form-control" name="professionType" id="profInfo"
                                >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="profSalary">Salary</label>
                            <input type="number" class="form-control" name="professionSalary" id="profSalary"
                                >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="profDesignation">Designation</label>
                            <input type="text" class="form-control" name="professionDesignation" id="profDesignation"
                                >
                        </div>

                    </div>
                </div>
            </div>

            

        </div>
    </div>


    <div *ngIf="step==3">
        show documents
        

    </div>






    <div *ngIf="step==4">
        <!-- <h6 class="text-center">Step 4 data</h6><br> -->
        <div class="form-row" >
            <h6 class="text-center"> Cibil Details</h6><br>
           
            <div class="form-group col-md-6">
                <label for="cibilScore">Cibil Score</label>
                <input type="number" class="form-control" name="cibilScore" id="cibilScore"
                    >
            </div>
            <div class="form-group col-md-6">
                <label for="cibilScoreDateTime">cibilScoreDateTime</label>
                <input type="text" class="form-control" name="cibilScoreDateTime" id="cibilScoreDateTime"
                    >
            </div>
            <div class="form-group col-md-6">
                <label for="status">Cibil status</label>
                <input type="text" class="form-control" name="status" id="status"
                   >
            </div>
            <div class="form-group col-md-6">
                <label for="remarksByOe">Remarks By Opertional Executive</label>
                <input type="text" class="form-control" name="remarksByOe" id="remarksByOe"
                  >
            </div>
        </div>


        <div class="form-row" >
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="accountType">Account Type</label>
                    <input type="text" class="form-control" name="accountType" id="accountType"
                        >
                </div>
                <div class="form-group col-md-6">
                    <label for="accountBalance">Account Balance</label>
                    <input type="number" class="form-control" name="accountBalance" id="accountBalance"
                        >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="accountHolderName">accountHolderName</label>
                    <input type="text" class="form-control" name="accountHolderName" id="accountHolderName"
                       >
                </div>
                <div class="form-group col-md-6">
                    <label for="accountStatus">Account Status</label>
                    <input type="text" class="form-control" name="accountStatus" id="accountStatus"
                        >
                </div>
                <div class="form-group col-md-6">
                    <label for="accountNumber">Account Number</label>
                    <input type="number" class="form-control" name="accountNumber" id="accountNumber"
                       >
                </div>
            </div>
            
        </div>






        <div class="form-row" >
            <h6 class="text-center"> Property Information</h6><br><br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="propertyType">propertyType</label>
                    <input type="text" class="form-control" name="propertyType" id="propertyType"
                        >
                </div>
                <div class="form-group col-md-6">
                    <label for="propertyArea">propertyArea</label>
                    <input type="text" class="form-control" name="propertyArea" id="propertyArea"
                        >
                </div>
                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="constructionArea">Construction Area</label>
                    <input type="text" class="form-control" name="constructionArea" id="constructionArea"
                       >
                </div>
                <div class="form-group col-md-6">
                    <label for="propertyPrice">property Price</label>
                    <input type="number" class="form-control" name="propertyPrice" id="propertyPrice"
                       >
                </div>
                <div class="form-group col-md-6">
                    <label for="constructionPrice">constructionPrice</label>
                    <input type="number" class="form-control" name="constructionPrice" id="constructionPrice"
                        >
                </div>

                <div class="form-group col-md-6">
                    <label>Property Document</label> &nbsp;
                    <input type="file"> &nbsp;
                    <!-- <img [src]="{{customer.propertyInfo.uploadedpropertyDocuments}}" height="50"> -->
                </div>
                <div class="form-group col-md-6">
                    <label>Price Proof</label> &nbsp;
                    <input type="file" > &nbsp;
                    <!-- <img [src]="{{customer.propertyInfo.uploadedpriceProofs}}" height="50"> -->
                </div>
            </div>

            <div class="form-row"  >
                <label style="text-align: center;">Property Address Details</label>
                
                <div class="form-group col-md-6">
                    <div>
                        <label for="streetName">Street Name</label>
                        <input type="text" class="form-control" name="streetName"
                            id="streetName" >
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div>
                        <label for="areaName">Area Name</label>
                        <input type="text" class="form-control" name="areaName"
                            id="areaName" >
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div>
                        <label for="cityName">City Name</label>
                        <input type="text" class="form-control" name="cityName"
                            id="cityName" >
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div>
                        <label for="district">District</label>
                        <input type="text" class="form-control" name="district"
                            id="district" >
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div>
                        <label for="state">state</label>
                        <input type="text" class="form-control" name="state"
                            id="state" >
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div>
                        <label for="pincode">Pincode</label>
                        <input type="number" class="form-control" name="pincode"
                            id="pincode" >
                    </div>
                </div>   
            </div>
        </div>








        <div class="form-row" >
            <label style="text-align: center;">Gurantor Details</label>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="gurantorName">GurantorName</label>
                    <input type="text" class="form-control" name="gurantorName" id="gurantorName"
                       >
                </div>
                <div class="form-group col-md-6">
                    <label for="gurantorDateOfBirth">Gurantor DOB</label>
                    <input type="text" class="form-control" name="gurantorDateOfBirth" id="gurantorDateOfBirth"
                        >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="gurantorRelationship">Gurantor Relation</label>
                    <input type="text" class="form-control" name="gurantorRelationship" id="gurantorRelationship"
                        >
                </div>
                <div class="form-group col-md-6">
                    <label for="gurantorMobileNumber">gurantorMobileNumber</label>
                    <input type="number" class="form-control" name="gurantorMobileNumber" id="gurantorMobileNumber"
                        >
                </div>
                <div class="form-group col-md-6">
                    <label for="gurantorAadharCardNo">gurantorAadharCardNo</label>
                    <input type="number" class="form-control" name="gurantorAadharCardNo" id="gurantorAadharCardNo"
                       >
                </div>
                <div class="form-group col-md-6">
                    <label for="gurantorAddress">gurantorAddress</label>
                    <input type="text" class="form-control" name="gurantorAddress" id="gurantorAddress"
                      >
                </div>
            </div>
            
        </div>
    </div> <!-- step4 end-->
        <div>
            <button *ngIf="step!==4" class="btn btn-primary" (click)="nextStep()">Next</button>
            <label *ngIf="step===4">This is last page</label>
        </div>
        <div *ngIf="step!==1">
            
            <button class="btn btn-primary" (click)="prevStep()">Previous</button>
        </div>


    <!-- </div> -->

