<style>
    .vl {
        border-left: 2px solid rgba(66, 77, 66, 0.581);
        height: 100;
    }
</style>


<h4 class="text-center"><b>New Loan Application Form</b></h4>
<hr>

<div class="container">

    <div class="shadow p-3 mb-5 bg-body bg-white rounded">
        <div class="progress">
            <div *ngIf="step==1" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">Step 1</div>
            <div *ngIf="step==2" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Step 2</div>
            <div *ngIf="step==3" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 75%">Step 3</div>
            <div *ngIf="step==4" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Step 4</div>
            <!-- <div *ngIf="step==5" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Step 5</div>
            <div *ngIf="step==6" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 60%">Step 6</div>
            <div *ngIf="step==7" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 70%">Step 7</div>
            <div *ngIf="step==8" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 80%">Step 8</div>
            <div *ngIf="step==9" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 90%">Step 9</div>
            <div *ngIf="step==9" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Step 10</div> -->

        </div>
        <br>

        <form [formGroup]="customerApplicationForm" (ngSubmit)="savePhase1()">
            <!-- <small><img [src]="imageSrc1" height="50"></small> -->

            <!-- Basic Information Form -->
            <div *ngIf="step==1">
                <h6 class="text-center">Basic information</h6><br>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputFirstName">Name</label>
                        <input type="text" class="form-control" name="customerfirstname" id="inputFirstName"
                            placeholder="Name" formControlName="customerName">
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div>
                            <label for="inputcustomerdob">Date Of Birth</label>
                            <!-- use type=date -->use type=date
                            <input type="text" class="form-control" name="customerdob" id="inputcustomerdob"
                                placeholder="Date Of Birth" formControlName="customerDateOfBirth">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="inputcustomerdob">Age</label>
                            <!-- Logic for age calculation from dob -->
                            <input type="number" class="form-control" name="customerdob" id="inputcustomerdob"
                                placeholder="Date Of Birth" formControlName="customerAge">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            <label for="inputGender">Gender</label>
                        </div>
                        <div class="col-md-6">
                            <input type="radio" name="customerGender" value="Male" formControlName="customerGender">
                            Male &nbsp;
                            <input type="radio" name="customerGender" value="Female" formControlName="customerGender"> 
                            Female &nbsp;
                            <input type="radio" name="customerGender" value="Other" formControlName="customerGender">
                            Other
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div>
                            <label for="inputcustomermobilenumber">Phone Number 1</label>
                            <input type="number" class="form-control" name="customermobilenumber"
                                id="inputcustomermobilenumber" placeholder="Phone Number"
                                formControlName="customerMobileNumber">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="inputcustomermobilenumber">Phone Number 2</label>
                            <input type="number" class="form-control" name="customermobilenumber"
                                id="inputcustomermobilenumber" placeholder="Phone Number"
                                formControlName="customerMobileNumber2">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputcustomeremail">Email Id</label>
                        <input type="email" class="form-control" name="customeremail" id="inputcustomeremail"
                            placeholder="Email Id" formControlName="customerEmail">
                    </div>

                </div>




                <div class="form-row" formGroupName="customerAddress">
                    <div class="form-group col-md-6">
                        <label style="text-align: center;">Address Details</label>
                        <div>
                            <label for="houseNumber">House Number</label>
                            <input type="number" class="form-control" name="houseNumber"
                                id="houseNumber" placeholder="House number"
                                formControlName="houseNumber">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="streetName">Street Name</label>
                            <input type="text" class="form-control" name="streetName"
                                id="streetName" placeholder="Street Name"
                                formControlName="streetName">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="areaName">Area Name</label>
                            <input type="text" class="form-control" name="areaName"
                                id="areaName" placeholder="Area Name"
                                formControlName="areaName">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="cityName">City Name</label>
                            <input type="text" class="form-control" name="cityName"
                                id="cityName" placeholder="City Name"
                                formControlName="cityName">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="district">District</label>
                            <input type="text" class="form-control" name="district"
                                id="district" placeholder="District"
                                formControlName="district">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="state">state</label>
                            <input type="text" class="form-control" name="state"
                                id="state" placeholder="state"
                                formControlName="state">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="pincode">Pincode</label>
                            <input type="number" class="form-control" name="pincode"
                                id="pincode" placeholder="Pincode"
                                formControlName="pincode">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <div>
                        <label for="customerAmountPaidForHome">Amount Paid for Home</label>
                        <input type="number" class="form-control" name="customerAmountPaidForHome"
                            id="customerAmountPaidForHome" placeholder="customerAmountPaidForHome"
                            formControlName="customerAmountPaidForHome">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div>
                        <label for="customerTotalLoanRequired">Total Loan Required</label>
                        <input type="number" class="form-control" name="customerTotalLoanRequired"
                            id="customerTotalLoanRequired" placeholder="customerTotalLoanRequired"
                            formControlName="customerTotalLoanRequired">
                    </div>
                </div>
            </div>

                
            </div>




            
            <div *ngIf="step==2">
                <div>
                    <div>
                        Please note down your customer ID for future use: {{generatedCustomerId}} <br>
                        
                        
                    </div>
                    
                    <h6 class="text-center">Educational, Family, Professional Information</h6><br>
                    <div class="form-row">
                        
                        <div class="form-group" formGroupName="educationalInfo">
                            <h6 class="text-center">Educational Information</h6>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="eduInfo">Education Type</label>
                                    <input type="text" class="form-control" name="educationType" id="eduInfo"
                                        placeholder="Educational Info" formControlName="educationType">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        
                        <div class="form-group" formGroupName="familyInfo">
                            <h6 class="text-center">Family Information</h6><br>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fatherName">Father Name</label>
                                    <input type="text" class="form-control" name="fatherName" id="fatherName"
                                        placeholder="Father name" formControlName="fatherName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="motherName">Mother Name</label>
                                    <input type="text" class="form-control" name="motherName" id="motherName"
                                        placeholder="mother name" formControlName="motherName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="spouseName">spouse Name</label>
                                    <input type="text" class="form-control" name="spouseName" id="spouseName"
                                        placeholder="spouse name" formControlName="spouseName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="noOfFamilyMembers">numberOfFamilyMembers</label>
                                    <input type="number" class="form-control" name="noOfFamilyMembers" id="noOfFamilyMembers"
                                        placeholder="noOfFamilyMembers" formControlName="noOfFamilyMembers">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="noOfChildren">numberOfChildren</label>
                                    <input type="number" class="form-control" name="noOfChildren" id="noOfChildren"
                                        placeholder="noOfChildren" formControlName="noOfChildren">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="maritalStatus">maritalStatus</label>
                                    <input type="text" class="form-control" name="maritalStatus" id="maritalStatus"
                                        placeholder="maritalStatus" formControlName="maritalStatus">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="familyIncome">Family Income</label>
                                    <input type="number" class="form-control" name="familyIncome" id="familyIncome"
                                        placeholder="familyIncome" formControlName="familyIncome">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        
                        <div class="form-group" formGroupName="profession">
                            <h6 class="text-center">Profession</h6><br>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="profInfo">Profession Type</label>
                                    <input type="text" class="form-control" name="professionType" id="profInfo"
                                        placeholder="Profession Type" formControlName="professionType">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="profSalary">Salary</label>
                                    <input type="number" class="form-control" name="professionSalary" id="profSalary"
                                        placeholder="Profession Salary" formControlName="professionSalary">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="profDesignation">Designation</label>
                                    <input type="text" class="form-control" name="professionDesignation" id="profDesignation"
                                        placeholder="Profession Designation" formControlName="professionDesignation">
                                </div>

                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>







            



            <!-- Documents uploading -->
            <div *ngIf="step==3" >
                <h6 class="text-center">Upload Personal Documents</h6><br>
                <div class="form-row">
                    <div class=" col-md-6">
                        <label>Address Proof:</label> &nbsp;
                        <input type="file" (change)="onSelectingAddressProof($event)"> &nbsp;
                        <img [src]="uploadedAddressProof" height="50">
                    </div>
                    <div class=" col-md-6">
                        <label >Pancard:</label> &nbsp;
                        <input type="file"   (change)="onSelectingPanCard($event)"> &nbsp;
                        <img [src]="uploadedPanCard" height="50">
                    </div>
                </div>

                <div class="form-row">
                    <div class=" col-md-6">
                        <label>Income Tax Doc:</label> &nbsp;
                        <input type="file" (change)="onSelectingincomeTax($event)"> &nbsp;
                        <img [src]="uploadedincomeTax" height="50">
                    </div>
                    <div class=" col-md-6">
                        <label>Aadhar Card:</label> &nbsp;
                        <input type="file" (change)="onSelectingaadharCard($event)"> &nbsp;
                        <img [src]="uploadedaadharCard" height="50">
                    </div>
                </div>
                <div class="form-row">
                    <div class=" col-md-6">
                        <label>Photo:</label> &nbsp;
                        <input type="file" (change)="onSelectingphoto($event)"> &nbsp;
                        <img [src]="uploadedphoto" height="50">
                    </div>
                    <div class=" col-md-6">
                        <label>Thumb Print:</label> &nbsp;
                        <input type="file" (change)="onSelectingthumbPrint($event)"> &nbsp;
                        <img [src]="uploadedthumbPrint" height="50">
                    </div>
                </div>
                <div class="form-row">
                    <div class=" col-md-6">
                        <label>Signature:</label> &nbsp;
                        <input type="file" (change)="onSelectingsignature($event)"> &nbsp;
                        <img [src]="uploadedsignature" height="50">
                    </div>
                    <div class=" col-md-6">
                        <label>Bank Cheque:</label> &nbsp;
                        <input type="file" (change)="onSelectingbankCheque($event)"> &nbsp;
                        <img [src]="uploadedbankCheque" height="50">
                    </div>
                </div>
                <div class="form-row">
                    <div class=" col-md-6">
                        <label>Salary Slips:</label> &nbsp;
                        <input type="file" (change)="onSelectingsalarySlips($event)"> &nbsp;
                        <img [src]="uploadedsalarySlips" height="50">
                    </div>
                    <div class=" col-md-6">
                        <label>propertyDocuments:</label> &nbsp;
                        <input type="file" (change)="onSelectingpropertyDocuments($event)"> &nbsp;
                        <img [src]="uploadedpropertyDocuments" height="50">
                    </div>
                </div>
                <div class="form-row">
                    <div class=" col-md-6">
                        <label>priceProofs:</label> &nbsp;
                        <input type="file" (change)="onSelectingpriceProofs($event)"> &nbsp;
                        <img [src]="uploadedpriceProofs" height="50">
                    </div>
                </div>
            </div>





            <div *ngIf="step==4">
                <h6 class="text-center">Step 4 data</h6><br>
                <div class="form-row" formGroupName="cibilDetails">
                    Cibil Details
                    <div class="form-group col-md-6">
                        <label for="cibilScore">Cibil Score</label>
                        <input type="number" class="form-control" name="cibilScore" id="cibilScore"
                            placeholder="cibilScore" formControlName="cibilScore">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cibilScoreDateTime">cibilScoreDateTime</label>
                        <input type="text" class="form-control" name="cibilScoreDateTime" id="cibilScoreDateTime"
                            placeholder="cibilScoreDateTime" formControlName="cibilScoreDateTime">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="status">Cibil status</label>
                        <input type="text" class="form-control" name="status" id="status"
                            placeholder="status" formControlName="status">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="remarksByOe">Remarks By Opertional Executive</label>
                        <input type="text" class="form-control" name="remarksByOe" id="remarksByOe"
                            placeholder="remarksByOe" formControlName="remarksByOe">
                    </div>
                </div>


                <div class="form-row" formGroupName="accountDetails">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="accountType">Account Type</label>
                            <input type="text" class="form-control" name="accountType" id="accountType"
                                placeholder="accountType" formControlName="accountType">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="accountBalance">Account Balance</label>
                            <input type="number" class="form-control" name="accountBalance" id="accountBalance"
                                placeholder="accountBalance" formControlName="accountBalance">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="accountHolderName">accountHolderName</label>
                            <input type="text" class="form-control" name="accountHolderName" id="accountHolderName"
                                placeholder="accountHolderName" formControlName="accountHolderName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="accountStatus">Account Status</label>
                            <input type="text" class="form-control" name="accountStatus" id="accountStatus"
                                placeholder="accountStatus" formControlName="accountStatus">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="accountNumber">Account Number</label>
                            <input type="number" class="form-control" name="accountNumber" id="accountNumber"
                                placeholder="accountNumber"  formControlName="accountNumber">
                        </div>
                    </div>
                    
                </div>






                <div class="form-row" formGroupName="propertyInfo">
                    Property Information
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="propertyType">propertyType</label>
                            <input type="text" class="form-control" name="propertyType" id="propertyType"
                                placeholder="propertyType" formControlName="propertyType">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="propertyArea">propertyArea</label>
                            <input type="text" class="form-control" name="propertyArea" id="propertyArea"
                                placeholder="propertyArea" formControlName="propertyArea">
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="constructionArea">Construction Area</label>
                            <input type="text" class="form-control" name="constructionArea" id="constructionArea"
                                placeholder="constructionArea" formControlName="constructionArea">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="propertyPrice">property Price</label>
                            <input type="number" class="form-control" name="propertyPrice" id="propertyPrice"
                                placeholder="propertyPrice" formControlName="propertyPrice">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="constructionPrice">constructionPrice</label>
                            <input type="number" class="form-control" name="constructionPrice" id="constructionPrice"
                                placeholder="constructionPrice"  formControlName="constructionPrice">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Property Document</label> &nbsp;
                            <input type="file" (change)="onSelectingpropertyDocuments($event)"> &nbsp;
                            <img [src]="uploadedpropertyDocuments" height="50">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Price Proof</label> &nbsp;
                            <input type="file" (change)="onSelectingpriceProofs($event)"> &nbsp;
                            <img [src]="uploadedpriceProofs" height="50">
                        </div>
                    </div>

                    <div class="form-row"  formGroupName="propertyAddress">
                        <label style="text-align: center;">Property Address Details</label>
                        
                        <div class="form-group col-md-6">
                            <div>
                                <label for="streetName">Street Name</label>
                                <input type="text" class="form-control" name="streetName"
                                    id="streetName" placeholder="Street Name"
                                    formControlName="streetName">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                <label for="areaName">Area Name</label>
                                <input type="text" class="form-control" name="areaName"
                                    id="areaName" placeholder="Area Name"
                                    formControlName="areaName">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                <label for="cityName">City Name</label>
                                <input type="text" class="form-control" name="cityName"
                                    id="cityName" placeholder="City Name"
                                    formControlName="cityName">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                <label for="district">District</label>
                                <input type="text" class="form-control" name="district"
                                    id="district" placeholder="District"
                                    formControlName="district">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                <label for="state">state</label>
                                <input type="text" class="form-control" name="state"
                                    id="state" placeholder="state"
                                    formControlName="state">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                <label for="pincode">Pincode</label>
                                <input type="number" class="form-control" name="pincode"
                                    id="pincode" placeholder="Pincode"
                                    formControlName="pincode">
                            </div>
                        </div>   
                    </div>
                </div>








                <div class="form-row" formGroupName="gurantorDetails">
                    <label style="text-align: center;">Gurantor Details</label>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gurantorName">GurantorName</label>
                            <input type="text" class="form-control" name="gurantorName" id="gurantorName"
                                placeholder="gurantorName" formControlName="gurantorName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gurantorDateOfBirth">Gurantor DOB</label>
                            <input type="text" class="form-control" name="gurantorDateOfBirth" id="gurantorDateOfBirth"
                                placeholder="gurantorDateOfBirth" formControlName="gurantorDateOfBirth">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gurantorRelationship">Gurantor Relation</label>
                            <input type="text" class="form-control" name="gurantorRelationship" id="gurantorRelationship"
                                placeholder="gurantorRelationship" formControlName="gurantorRelationship">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gurantorMobileNumber">gurantorMobileNumber</label>
                            <input type="number" class="form-control" name="gurantorMobileNumber" id="gurantorMobileNumber"
                                placeholder="gurantorMobileNumber" formControlName="gurantorMobileNumber">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gurantorAadharCardNo">gurantorAadharCardNo</label>
                            <input type="number" class="form-control" name="gurantorAadharCardNo" id="gurantorAadharCardNo"
                                placeholder="gurantorAadharCardNo"  formControlName="gurantorAadharCardNo">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gurantorAddress">gurantorAddress</label>
                            <input type="text" class="form-control" name="gurantorAddress" id="gurantorAddress"
                                placeholder="gurantorAddress"  formControlName="gurantorAddress">
                        </div>
                    </div>
                    
                </div>


            </div>
            <!-- Step 4 End -->























            <!-- Previous Loan Information -->
            <div *ngIf="step==5">
                <h6 class="text-center">Previos Loan information</h6><br>

                <div formGroupName="previousloan">

                    <div class="form-row">

                        <div class="from-group col-md-8" formGroupName="previousbankloandetails">
                            <h6 class="text-center">Bank Details</h6>

                            <div class="from-group col-md-6">
                                <label for="inputbranchnamet">Branch Name</label>
                                <input type="text" class="form-control" name="branchname" id="inputbranchname"
                                    placeholder="Branch Name" formControlName="branchname">
                            </div>


                            <div class="from-group col-md-6">
                                <label for="inputbranchcode">Branch Code</label>
                                <input type="number" class="form-control" name="branchcode" id="inputbranchcode"
                                    placeholder="Branch Code" formControlName="branchcode">
                            </div>

                            <div class="from-group col-md-6">
                                <label for="inputbranchtype">Branch Type</label>
                                <input type="text" class="form-control" name="branchtype" id="inputbranchtype"
                                    placeholder="Branch Type" formControlName="branchtype">
                            </div>


                            <div class="from-group col-md-6">
                                <label for="inputifsccode">IFSC Code</label>
                                <input type="text" class="form-control" name="ifsccode" id="inputifsccode"
                                    placeholder="IFSC Code" formControlName="ifsccode">
                            </div>
                            <div class="from-group col-md-6">
                                <label for="inputmicrcode">MICR Code</label>
                                <input type="text" class="form-control" name="micrcode" id="inputmicrcode"
                                    placeholder="MICR Code" formControlName="micrcode">
                            </div>


                            <div class="from-group col-md-6">
                                <label for="inputconatctnumber">Conatct Number</label>
                                <input type="number" class="form-control" name="conatctnumber" id="inputconatctnumber"
                                    placeholder="Conatct Number" formControlName="conatctnumber">
                            </div>

                            <div class="from-group col-md-6">
                                <label for="inputbankaddress">Bank Address</label>
                                <input type="text" class="form-control" name="bankaddress" id="inputbankaddress"
                                    placeholder="Bank Address" formControlName="bankaddress">
                            </div>


                            <div class="from-group col-md-6">
                                <label for="inputemail">Bank Email</label>
                                <input type="email" class="form-control" name="email" id="inputemail"
                                    placeholder="Bank Email" formControlName="email">
                            </div>
                        </div>

                    </div>
                    <hr style="width:50%;text-align:left;margin-left:0">

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="inputpreviousLoanamount">Loan Amount</label>
                            <input type="number" class="form-control" name="previousLoanamount"
                                id="inputpreviousLoanamount" placeholder="Loan Amount"
                                formControlName="previousLoanamount">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputpreviousloantenure">Loan Tenure</label>
                            <input type="number" class="form-control" id="inputpreviousloantenure"
                                name="previousloantenure" placeholder="Loan tenure"
                                formControlName="previousloantenure">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputpreviousloanpaidamount">Loan Paid Amount</label>
                            <input type="text" class="form-control" name="previousloanpaidamount"
                                id="inputpreviousloanpaidamount" placeholder="Loan Paid Amount"
                                formControlName="previousloanpaidamount">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputpreviousloanremainingamount">Reamianing Amount to be paid</label>
                            <input type="number" class="form-control" name="previousloanremainingamount"
                                id="inputpreviousloanremainingamount" placeholder="Loan Amount"
                                formControlName="previousloanremainingamount">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputpreviousloanstatus">Status</label>
                            <input type="text" class="form-control" id="inputpreviousloanstatus"
                                name="previousloanstatus" placeholder="Loan Status"
                                formControlName="previousloanstatus">
                        </div>

                    </div>
                </div>
                <!-- * -->
                <hr style="width:50%;text-align:left;margin-left:0">
                <h6>Your Required Loan</h6><br>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputcustomeramountpaidforcar">Down Payment</label>
                        <input type="number" class="form-control" name="customeramountpaidforcar"
                            id="inputcustomeramountpaidforcar" placeholder="Down Payment"
                            formControlName="customeramountpaidforcar">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputcustomertotalloanrequired">Required Loan Amount</label>
                        <input type="number" class="form-control" id="inputcustomertotalloanrequired"
                            name="customertotalloanrequired" placeholder="Required Loan Amount"
                            formControlName="customertotalloanrequired">
                    </div>

                </div>
            </div>

            <!-- mortgage Information Form -->
            <div *ngIf="step==6" >
                <h6 class="text-center">Mortgage Details</h6><br>
                <div formGroupName="mortagagedetail">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputoccupationtype">Mortgage Property Value</label>
                        <input type="number" class="form-control" name="mortgagepropertyvalue"
                            id="inputmortgagepropertyvalue" placeholder="Mortgage Property Value"
                            formControlName="mortgagepropertyvalue">
                    </div>


                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div>
                            <label for="inputsalary">Mortgage Property Type</label>
                            <input type="text" class="form-control" name="mortgagepropertytype"
                                id="inputmortgagepropertytype" placeholder="mortgagepropertytype"
                                formControlName="mortgagepropertytype">
                        </div>
                    </div>
                </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="inputmortgageloanonproperty">Mortgage Loan on Property</label>
                            <input type="number" class="form-control" name="mortgageloanonproperty"
                                id="inputmortgageloanonproperty" placeholder="mortgageloanonproperty"
                                formControlName="mortgageloanonproperty">
                        </div>
                    </div>

                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">

                        <div class="input-group-prepend">
                            <span>Mortgage Property Proof</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputmortgagepropertyproof"
                                name="mortgagepropertyproof" formControlName="mortagagedetail.mortgagepropertyproof"
                                value="mortagagedetail.mortgagepropertyproof" (change)="onSelectPropProof($event)">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>

                    </div>

                </div>


            </div>


            <!-- Cibil Information -->
            <div *ngIf="step==7" formGroupName="cibil">
                <h6 class="text-center">CIBIL information</h6><br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputpannumber">Pan Number</label>
                        <input type="text" class="form-control" name="pannumber" id="inputpannumber"
                            placeholder="Pan Number" formControlName="pannumber">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputcibilscore">CIBIL Score</label>
                        <input type="number" class="form-control" id="inputcibilscore" name="cibilscore"
                            placeholder="CIBIL Score" formControlName="cibilscore">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputcibilscoredatetime">CIBIL Score Date </label>
                        <input type="text" class="form-control" name="cibilscoredatetime" id="inputcibilscoredatetime"
                            placeholder="CIBIL Score Date" formControlName="cibilscoredatetime">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputstatus">Status</label>
                        <input type="text" class="form-control" id="inputstatus" name="status" placeholder="Status"
                            formControlName="status">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputremark">Remark </label>
                        <input type="text" class="form-control" name="remark" id="inputremark" placeholder="Remark"
                            formControlName="remark">
                    </div>
                </div>
            </div>

            <!-- Gaurantor Information -->

            <div *ngIf="step==8" formGroupName="guarantordetail">
                <h6 class="text-center">Gaurantor's information</h6><br>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputguarantorname">Guarantor Name</label>
                        <input type="text" class="form-control" name="guarantorname" id="inputguarantorname"
                            placeholder="Guarantor Name" formControlName="guarantorname">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputprofession">Profession</label>
                        <input type="text" class="form-control" id="inputprofession" name="profession"
                            placeholder="Profession" formControlName="profession">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputcibilscore">Relation With Client</label>
                        <input type="text" class="form-control" id="inputrelationwithclient" name="relationwithclient"
                            placeholder="relationwithclient" formControlName="relationwithclient">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputmobileno">Gaurantor's Phone Number </label>
                        <input type="number" class="form-control" name="mobileno" id="inputmobileno"
                            placeholder="Gaurantor's Phone Number" formControlName="mobileno">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputaddress">Address</label>
                        <input type="text" class="form-control" id="inputaddress" name="address" placeholder="Address"
                            formControlName="address">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputpincode">Pincode</label>
                        <input type="text" class="form-control" id="inputpincode" name="pincode" placeholder="Pincode"
                            formControlName="pincode">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputcibilscoredatetime">City </label>
                        <input type="text" class="form-control" name="city" id="inputcity"
                            placeholder="Gaurantor's city" formControlName="city">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputdistrict">District</label>
                        <input type="text" class="form-control" id="inputdistrict" name="district"
                            placeholder="District" formControlName="district">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputstatus">State</label>
                        <input type="text" class="form-control" id="inputstates" name="state" placeholder="State"
                            formControlName="state">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputcibilscoredatetime">Country</label>
                        <input type="text" class="form-control" name="country" id="inputcountry" placeholder="Country"
                            formControlName="country">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputaadharno">Aadharno</label>
                        <input type="number" class="form-control" id="inputaadharno" name="aadharno"
                            placeholder="Aadharno" formControlName="aadharno">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputpanno">Pan Number</label>
                        <input type="text" class="form-control" id="inputpanno" name="panno" placeholder="Pan Number"
                            formControlName="panno">
                    </div>

                </div>

            </div>

            <!-- Dealer's Account Details Information -->
            <div *ngIf="step==9" formGroupName="dealeraccountdetails">
                <h6 class="text-center">Dealer's Account Details</h6><br>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputaccounttype">Account Type</label>
                        <input type="text" class="form-control" name="accounttype" id="inputaccounttype"
                            placeholder="Account Type" formControlName="accounttype">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputcibilscoredatetime">Account Holder Name</label>
                        <input type="text" class="form-control" name="accountholdername" id="inputaccountholdername"
                            placeholder="Account Holder Name" formControlName="accountholdername">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputaccountnumber">Account Number</label>
                        <input type="number" class="form-control" name="accountnumber" id="inputaccountnumber"
                            placeholder="Account Number" formControlName="accountnumber">
                    </div>

                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-4" *ngIf="step!=1">
                    <a type="button" class="btn btn-info" (click)="previousStep()">Previous</a>
                </div>
                <div class="form-group col-md-4" *ngIf="step!=4">
                    <a type="button" class="btn btn-primary" (click)="nextStep()">Save & Next</a>
                </div>

                <div class="form-group col-md-4" *ngIf="step!=4">
                    If you already have CustomerId, Enter Here to go to next step: 
                        <input type="number" [(ngModel)]="enteredCustomerId" name="enteredCustomerId">
                        <div >
                            <!-- disabled="enteredCustomerId !== 0" -->
                            <button class="btn btn-primary"  (click)="directNextStep()">DirectNextStep</button>
                        </div>
                    
                </div > 
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-danger" *ngIf="step==4">Final Submit</button>
                </div>

            </div>



        </form>
    </div>
</div>
