<p>loan-application-list works!</p>

<div class="jumbotron"> 
<h1>Loan Application List</h1>
<div>
    <table class="table table-hover table-light table-striped" >
        <thead style="text-align: center;">
            <tr style="color: blue; background-color: darkgrey;">
                <th>Customer Id</th>
                <th>Name</th>
                <th>View Details</th>
                <th>Deligence Report</th> 
                <th>Sanction Letter</th>  <!-- status  -->
                <th>Branch Manager Response</th> <!-- status  -->
                <th>Customer Acceptance</th> <!-- status  -->
                <th>Loan Agreement</th>
                <th>Final Approval</th>
                <th>Loan Disbursement</th> <!-- status  -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of customerList">
                <td>{{s.customerId}}</td>
                <td>{{s.customerName}}</td>
                <td>
                    <button class="btn btn-primary">Details</button>
                </td>
                <td>
                        <button type="button" class="btn btn-success" *ngIf="s.deligenceReportStatus">{{s.deligenceReportStatus}}
                        </button>
                        <button type="button" class="btn btn-warning" *ngIf="s.deligenceReportStatus==null">Pending
                        </button>  
                </td>
                <td>
                    <div *ngIf="s.deligenceReportStatus">
                        <button type="button" class="btn btn-success" *ngIf="s.sanctionLetterStatus">{{s.sanctionLetterStatus}}
                        </button>
                        <button type="button" class="btn btn-warning" *ngIf="s.sanctionLetterStatus==null">Pending
                        </button>
                    </div>
                  </td>
                <td>
                    <div *ngIf="s.sanctionLetterStatus">
                        <button type="button" class="btn btn-success" *ngIf="s.doReportBmResponseStatus">{{s.doReportBmResponseStatus}}
                        </button>
                        <button type="button" class="btn btn-warning" *ngIf="s.doReportBmResponseStatus==null">Pending
                        </button> 
                    </div>
                </td>
                <td>
                    <div *ngIf="s.doReportBmResponseStatus">
                        <button type="button" class="btn btn-success" *ngIf="s.customerAcceptanceStatus!=null">
                            {{s.customerAcceptanceStatus}}
                        </button>
                        <button type="button" class="btn btn-warning" *ngIf="s.customerAcceptanceStatus==null"
                           (click)="customerAcceptance(s.customerId)">Pending
                        </button>
                    </div>   
                  </td>
                <td>
                    <div *ngIf="s.customerAcceptanceStatus">
                        <button type="button" class="btn btn-success" *ngIf="s.loanAgreementStatus">{{s.loanAgreementStatus}}
                        </button>
                        <button type="button" class="btn btn-warning" *ngIf="s.loanAgreementStatus==null">Pending
                        </button> 
                    </div>
                    
                </td>
                <td>
                    <div *ngIf="s.loanAgreementStatus">
                        <button type="button" class="btn btn-success" *ngIf="s.loanAgreementBmSignStatus">{{s.loanAgreementBmSignStatus}}
                        </button>
                        <button type="button" class="btn btn-warning" *ngIf="s.loanAgreementBmSignStatus==null">Pending
                        </button> 
                    </div>

                </td>
                <td>
                    <div *ngIf="s.loanAgreementBmSignStatus">
                        <button type="button" class="btn btn-success" *ngIf="s.loanDisbursementStatus">{{s.loanDisbursementStatus}}
                        </button>
                        <button type="button" class="btn btn-warning" *ngIf="s.loanDisbursementStatus==null">Pending
                        </button> 
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>


<router-outlet></router-outlet>