<p>loan-application-list works!</p>

<div class="jumbotron"> 
<h1>Loan Application List</h1>
<div>
    <table class="table table-hover table-light table-striped" >
        <thead style="text-align: center;">
            <tr style="color: blue; background-color: darkgrey;">
                <th>Customer Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>Deligence Report</th>   <!-- status  -->
                <th>Branch Manager Response</th> <!-- status  -->
                <th>Sanction Letter</th> <!-- status  -->
                <th>Customer Acceptance</th> <!-- status  -->
                <th>Loan Agreement</th> <!-- status  -->
                <th>Loan Disbursement</th> <!-- status  -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of customerList">
                <td>{{s.customerId}}</td>
                <td>{{s.customerName}}</td>
                <td>{{s.customerEmail}}</td>
                <td>{{s.customerMobileNumber}}</td>
                <td>
                    <button disabled>{{s.deligenceStatus}}</button>    
                </td>
                <td>
                    <div *ngIf="s.deligenceStatus">
                    
                        <button disabled>{{s.doReportBmResponseStatus}}</button>  
                    
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success" *ngIf="s.sanctionLetterStatus">{{s.sanctionLetterStatus}}
                    </button>
                    <button type="button" class="btn btn-warning" *ngIf="s.sanctionLetterStatus==null">Pending
                    </button>
                  </td>
                <td>
                    <button type="button" class="btn btn-success" *ngIf="s.customerAcceptanceStatus!=null">
                        {{s.customerAcceptanceStatus}}
                    </button>
                    <button type="button" class="btn btn-warning" *ngIf="s.customerAcceptanceStatus==null"
                       (click)="customerAcceptance(s.customerId)">Pending
                    </button>
                    <!-- <button type="button" class="btn btn-warning" *ngIf="s.customerAcceptanceStatus==null"
                        [routerLink]="['customer-acceptance', s.customerId]" [state]="s">Pending
                    </button> -->
                  </td>
                <td>
                    {{s.sanctionLetterStatus}}
                </td>
                <td>
                    {{s.loanAgreementStatus}}
                </td>
                <td>
                    {{s.loanDisbursementStatus}}
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn-info" type="submit" (click)="goback()" style="margin-left: 600px;">Back</button>
</div>
</div>


<router-outlet></router-outlet>