
<div class="logo" style="background-color:rgb(38, 55, 141);">
  <!-- <a href="https://www.creative-tim.com" class="simple-text logo-mini">
    <div class="logo-img"> -->
      
        <img src="./assets/images/home-loan-logo.png" width="150" height="120"/> 
        

</div>
<div class="sidebar-wrapper" style="background-color: rgb(255, 255, 255);" >
  <ul class="nav nav-pills" >
      <li routerLinkActive="active"  *ngFor="let menuItem of menuItems[0][role]" class="{{menuItem.class}} nav-item">
          <!-- <a [routerLink]="[menuItem.path]">
              <i class="now-ui-icons {{menuItem.icon}}"></i>
              <p>{{menuItem.title}}</p>
          </a> -->
          <button class="nav-link btn btn-sm btn-transparent float-left-align-center" [routerLink]="[role,menuItem.path]">
              <i class="material-icons"></i>
              <p style="color: midnightblue; font-weight: bold;">{{menuItem.title}}</p>
          </button>
      </li><br>
  </ul>
</div>

