           
<div class="about-section">
    <h1>About Us</h1>
    <p>Though everybody may not have enough cash to purchase the car with a lump-sum payment, numerous lenders can help you realize your dream of buying the car through a car loan. 
      Applying for a car loan is now hassle-free, easy, and paperless.
       just make a few clicks, and you can submit the car loan application form online. 
       Almost every bank today offers car loans at attractive interest rates. 
       Based on one’s affordability, it is now quite easy to take a car loan and then pay EMIs without really biting into a person’s finances.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="" alt="Jane" style="width:50%">
        <div class="container">
          <h4>Swapnil</h4>
          <p class="title">CEO & Founder</p>
          <p>contact No:123456678</p>
          <p>Email: </p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="Mike" style="width:50%">
        <div class="container">
          <h4>Name2</h4>
          <p class="title">Art Director</p>
          <p>contact No:</p>
          <p>email</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="John" style="width:50%">
        <div class="container">
          <h4>Name3</h4>
          <p class="title">Designer</p>
          <p>contact No:</p>
          <p>email</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="" alt="John" style="width:50%">
        <div class="container">
          <h4> Name4</h4>
          <p class="title">Designer</p>
          <p>contact No:90004000300</p>
          <p>email</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="" alt="John" style="width:50%">
        <div class="container">
          <h4> name 5</h4>
          <p class="title">Designer</p>
          <p>contact No:90004000300.</p>
          <p>email</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="" alt="John" style="width:50%">
        <div class="container">
          <h4>Name6</h4>
          <p class="title">Designer</p>
          <p>contact No:90004000300.</p>
          <p>email</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  } 
  .btn {
    border: none;
    
    display: inline-block;
    padding: 14x 28x;
    text-align: center;
    background-color: #000;
   
    cursor: pointer;
    font-size: 16px;
   
  }
  
  </style>
  <div class="right1">
    <ul>
      
      <li><a href="#">More Info</a><p>info@aaplibank@gmail.com</p></li>
     
      
    </ul>
  
  </div>
  <div>
  <footer class="background">
    <p class="text-footer">
  
  <button  class="btn back" onclick="history.back()">Go Back</button>

</p>
</footer>
</div>