<div class="overall">
    <h1 class="h">Laon Agreement Form</h1>
    <div class="container">
      

    <form [formGroup]="loanAgreementForm" (ngSubmit)="submitLoanagreementForm()">
        <div class="form-row">
          <div class="col-md-6">
            
              <div class="form-group">
                  <label for="loanAgreementName">Loan Agreement Name</label>
                  <input type="number" class="form-control" id="loanAgreementName" aria-describedby="nameHelp" placeholder="Loan Agreement Name" formControlName="loanAgreementName">
                  
              </div>
              <div class="form-group">
                <label for="contactDetails">Contact Details</label>
                <input type="number" class="form-control" id="contactDetails" aria-describedby="dobHelp" placeholder="Contact Details" formControlName="contactDetails">
                
              </div>
              <div class="form-group">
                <label for="interestType">Interest Type</label>
                <input type="text" class="form-control" id="interestType" aria-describedby="dobHelp" placeholder="Interest Type" formControlName="interestType">
               
              </div>
              <div class="form-group">
                <label for="loanTenure">Loan Tenure</label>
                <input type="number" class="form-control" id="loanTenure" aria-describedby="dobHelp" placeholder="Loan Tenure" formControlName="loanTenure">
               
              </div>
              <div class="form-group">
                <label for="modeOfPayment">Mode Of Payment</label>
                <input type="text" class="form-control" id="modeOfPayment" aria-describedby="dobHelp" placeholder="Mode Of Payment" formControlName="modeOfPayment">
                
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" aria-describedby="dobHelp" placeholder=" Status" formControlName="status">
              
              </div>
              
              

              <button type="submit" class="btn btn-primary">Submit</button> &nbsp;
              <button class="btn btn-primary" (click)="reset()">Clear</button>
            </div>

         
      
          <div class="col-md-6">
            <div class="form-group">
                <label for="applicantName">Applicant Name</label>
                <input type="text" class="form-control" id="applicantName" aria-describedby="nameHelp" placeholder="Applicant Name" formControlName="applicantName">
                
            </div>
            <div class="form-group">
                <label for="loanAmountSanctioned">Loan Amount Sanctioned</label>
                <input type="number" class="form-control" id="loanAmountSanctioned" aria-describedby="nameHelp" placeholder="Loan Amount Sanctioned" formControlName="loanAmountSanctioned">
                
            </div>
            <div class="form-group">
                <label for="rateOfInterest">Rate Of Interest</label>
                <input type="number" class="form-control" id="rateOfInterest" aria-describedby="nameHelp" placeholder="Rate Of Interest" formControlName="rateOfInterest">
               
            </div>
            <div class="form-group">
                <label for="monthlyEmiAmount">Monthly Emi Amount</label>
                <input type="number" class="form-control" id="monthlyEmiAmount" aria-describedby="nameHelp" placeholder="Monthly Emi Amount" formControlName="monthlyEmiAmount">
               
            </div>
            <div class="form-group">
                <label for="Remarks">remarks</label>
                <input type="text" class="form-control" id="remarks" aria-describedby="nameHelp" placeholder="Remarks" formControlName="remarks">
                
            </div>
           
           
        
          </div>
        </div>
    </form>
    </div>
</div>
<router-outlet></router-outlet>

