
<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Deligence Status</th>
        <th scope="col">Sanction Letter</th>
        <th scope="col">BM status</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let c of customerList">
        <th scope="row">{{c.customerId}}</th>
        <td>{{c.customerName}}</td>
        <td>
            <button type="button" class="btn btn-success" *ngIf="c.deligenceReportStatus" >{{c.deligenceReportStatus}}</button>
            <button type="button" class="btn btn-warning" *ngIf="c.deligenceReportStatus==null">Pending</button>
        </td>
        <td>
          <button type="button" class="btn btn-success" *ngIf="c.sanctionLetterStatus" [routerLink]="['view-sanction-letter', c.customerId]" [state]="c">{{c.sanctionLetterStatus}}</button> <!-- add routing to open sanction letter form -->
            <button type="button" class="btn btn-warning" *ngIf="c.sanctionLetterStatus==null">Pending</button>
            
        </td>
        <td>
          <div *ngIf="c.doReportBmResponseStatus">
            <button type="button" class="btn btn-success" [routerLink]="['bm-application-update', c.customerId]" [state]="c">{{c.doReportBmResponseStatus}}</button>
          </div>
          <div *ngIf="c.doReportBmResponseStatus==null">
            <button type="button" class="btn btn-warning"
            [routerLink]="['bm-application-update', c.customerId]" [state]="c">Pending</button>
          </div>
        </td>
      </tr>
      
    </tbody>
  </table>

  <router-outlet></router-outlet>
