
       <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 login-sec">
                    <h2 class="text-center">Calculate EMI</h2>
                    <form class="login-form" [formGroup]="loancal" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="text-uppercase" style="color: rgb(116, 21, 5); font-weight:bold; ">lOAN AMOUNT REQUIRED *</label>
                            <input type="text" [(ngModel)]="loanAmount" class="form-control" formControlName="loanAmount" placeholder="Enter the Loan Amount">
                        </div>
                                            <div class="form-group">
                            <label class="text-uppercase" style="color: rgb(116, 21, 5); font-weight:bold; ">TENURE IN MONTH *</label>
                            <input type="text" [(ngModel)]="tenure" class="form-control" formControlName="tenure" placeholder="Enter the Tenure in Month">
                        </div>
                                            <div class="form-group">
                            <label class="text-uppercase" style="color: rgb(116, 21, 5); font-weight:bold; ">INTEREST RATE *</label>
                            <input type="text" [(ngModel)]="interest" class="form-control" formControlName="interest" placeholder="Enter Rate of Interest">
                        </div>   
                                            <button [disabled]="!loancal.valid" type="submit" class="btn btn-login float-right">Submit</button>    
                                    </form>
                            </div>
                    </div>
                
                    <div class="container">
                            <table class="table table-striped" border="4px">
                                <thead >
                                    <tr style="color: blue; align-content:center;">
                                        <th>Principal Amount</th>
                                        <th>EMI Per Month</th>
                                        <th>Total Amuont Paid</th>
                                        <th>Only Interest Paid</th>                            
                                    </tr>
                                </thead>
                        
                              <tbody >
                                  <td> {{loanAmount}}</td>
                                  <td> {{emi}}</td>
                                  <td> {{totalAmountPaid}}</td>
                                  <td> {{onlyInterest}}</td>
                              </tbody>
                            </table>
                          </div>
            </div>
